<%= render 'layouts/admin_search' %>
<div class="container">
  <h5 class="mt-3 mb-3 ml-5 d-table" style="background-color: #e6e3de;">　会員一覧　</h5>
    <div class="col-2"></div>
    <div class="col-8 offset-2">
      <table class="table table-bordered text-center mt-5">
        <thead class="thead-light">
          <tr><th>会員ID</th><th>氏名</th><th>メールアドレス</th><th>ステータス</th></tr>
        </thead>
          <% @customers.each do |customer| %>
            <tbody>
              <tr>
                <td><%= customer.id %></td>
                <td><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer.id) %></td>
                <td><%= customer.email %></td>
                <td><% if customer.is_deleted == false %>
                      <p class="text-success">有効</p>
                    <% else %>
                      <p class="text-danger">無効</p>
                    <% end %>
                </td>
              </tr>
            </tbody>
          <% end %>
      </table>
    </div>
  </div>