<div id="container">
  <div id="theTarget">
    <div class="slide1"></div>
    <div class="slide2"></div>
    <div class="slide3"></div>
    <div class="slide4"></div>
  </div>
</div>

<h1 class="mx-auto d-table mt-5">NEW PRODUCTS</h1>
<div class="row bg-gray" style="background-color: #f4f4f4;">
  <div class="col-10 offset-1">
    <div class="d-flex">
      <% @products.each do |product| %>
        <div class="mt-5 mr-5">
          <div><%= attachment_image_tag product, :image, size: '250x180', format:'jpeg', fallback: 'sample.jpg' %></div>
          <div class="px-2 py-3" style="background-color: #ffffff">
            <div><%= product.name %></div>
            <div>¥<%= product.price.to_s(:delimited) %></div>
          </div>
        </div>
      <% end %>
    </div>
    <p class="text-right m-1 py-3">すべての商品を見る＞</p>
  </div>
</div>

