<div class='container'>
  <div class='col-12 text-center'>
    <%= image_tag 'logo-removebg.png', size: "250x150", class: 'pt-5 img-fluid rounded top-image' %>
    <p class='mt-5 mb-5 text-black-50 display-4'>ご注文ありがとうございました！</p>
    <p class='mt-5'>注文確認メールをお送り致しました</p>
  </div>
</div>
<a href='/letter_opener'>送信されたメールを確認する</a>