  <div class="container mt-3">
  <div class="search-form text-right">
  <%= form_with url: public_search_path, method: :get, local: true do |f| %>
    <%= f.text_field :content %>
    <%= f.select :model, options_for_select({ "ジャンル" => "genre", "商品名" => "product" }) %>
<<<<<<< HEAD
    <div class="fas fa-search d-inline-block"><%= f.submit '検索', class: "btn btn-sm btn-secondary" %></div>
=======
    <button type="submit" class="btn btn-sm btn-secondary">
      <i class="fas fa-search"></i> 検索
    </button>
>>>>>>> cd3da1b9d3c0bbda526f5709791a2a7d4229fe85
  <% end %>
</div>
</div>
