<footer>
  <div class='container mt-5'>
    <% unless request.path.include?("admin") %>
      <h5 class="p-2 pl-4 underbar">お問い合わせ</h5>
      <div class="d-flex">
        <p class="p-2 pl-4">
          ながのCake<br>
          〒123-0023 東京都新宿区xxxxx<br>
          TEL:045-264-4076<br>
          MAIL:info@nagano_cake.jp
        </p>
        <div class="col-3 text-right d-flex mt-auto pb-3">
          <h4 class="fab fa-facebook-square"></h4>
          <h4 class="fab fa-twitter-square mx-2"></h4>
          <a href='https://www.instagram.com/p/CQiwKp_D5Na/?utm_medium=copy_link'>
            <h4 class="fab fa-instagram-square"></h4>
          </a>
        </div>
      </div>
   <% end %>
      <div class="d-table mx-auto my-3">CopyRight 2021 nagano_cake</div>
  </div>
</footer>